*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Space Mono';
    src: url(../fonts/SpaceMono-Regular.ttf);
    src: url(../fonts/SpaceMono-Bold.ttf.ttf);

    font-family: 'Clear Sans';
    src: url(../fonts/ClearSans-Regular.ttf);
}

body{
    text-align: center;
    font-family: 'Clear Sans';
}

table{
    display: inline-table;
    background-color: #57478f;
    min-width: 70%;
    margin: 30px;
    font-family: 'Space Mono';
    border-radius: 5px;
    padding: 5px;
}

th{
    font-size: 20px;
    font-weight: 100;
    color: #ebebeb;
}

.riscado{
    text-decoration: line-through;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.apagar{
    border-radius: 20px;
    width: 30px;
    height: 30px;
}